ipython
jupyter
matplotlib
numpy==1.12.0
pandas==0.19.2
scipy==0.18.1
scikit-learn==0.18.1
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
